{% extends "base.html" %}
{% block body %}
<h1>DELETE {{ product.title }}</h1>
<p class="lead">{{ product.description }}</p>
<a href="{% url action="delete" %}/{{ product.id }}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-trash"></span> ta bort</a>
<ul>
{% if product_images %}
  {% for product_image in product_images %}
    <li>
        <h3>{{ product_image.title }}<h3>
        <img src="{{ product_image.image }}"/>
    </li>
  {% endfor %}
{% else %}
<li>No images! <a href="{% url action="add_image" %}/{{ product.id }}">go add one..</a></li>
{% endif %}
</ul>
<a href="{% url action="add_image" %}">Add an image</a>
{% endblock %}
